<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>HL.framework $(MARKETING_VERSION), © 2010-2012 Mark Douma. HLLib $(MARKETING_VERSION) © 2006-2012 Ryan Gregg.</string>
	<key>CFBundleSignature</key>
	<string>HLFƒ</string>
</dict>
</plist>
