<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>VPK</string>
			<key>CFBundleTypeName</key>
			<string>Source Addon file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.valvesoftware.source.vpk</string>
			</array>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string>Source Addon Finagler 2.5, © 2010-2013 Mark Douma. All rights reserved.</string>
	<key>CFBundleSignature</key>
	<string>SAFƒ</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive </string>
			</array>
			<key>UTTypeDescription</key>
			<string>Source Addon file</string>
			<key>UTTypeIconFile</key>
			<string>VPK</string>
			<key>UTTypeIdentifier</key>
			<string>com.valvesoftware.source.vpk</string>
			<key>UTTypeReferenceURL</key>
			<string>http://developer.valvesoftware.com/wiki/VPK_File_Format</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>vpk</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
